@media all and (min-width: 1360px) {

	article > .member {
		padding-bottom: 10%;
	}

	#page-header-opener {
		display: none;
	}

	#content-nav li.is-active::before {
		content: '☞';
		position: absolute;
		right: 100%;
		margin-right: .3em;
	}
}
