*[data-css-icon] {
	position: relative;
}

*[data-css-icon]::before,
*[data-css-icon='menu']::after {
	position: absolute;
	top: 50%;
	left: 50%;
}

*[data-css-icon='menu']::before,
*[data-css-icon='menu']::after {
	border-style: solid;
	border-width: 0.2em 0;
	width: 1em;
	height: 0.7em;
	margin-left: -0.55em;
}

*[data-css-icon='menu']::before {
	content: '';
	margin-top: -0.55em;
}

*[data-css-icon='menu']::after {
	content: '';
	border-bottom: 0;
	margin-top: -0.1em;
}

.is-active[data-css-icon='menu']::before {
	content: unset;
}