@import 'reset.css';
@import 'icons.css';

html {
	background-color: #f6f6f6;
}

body {
	background-color: #fbfbfb;
	max-width: 1980px;
	width: 100%;
	margin: auto;
	overflow-x: hidden;
}

body,
html {
	font: 100% "DejaVu Sans", helvetica, arial, sans-serif;
	color: #5a6374;
	line-height: 1.7;
	text-align: left;
}

a {
	text-decoration: none;
	color: #1676aa;
}

a:hover,
a:focus {
	text-decoration: underline;
}

b {
	font-weight: normal;
	/*text-decoration: underline;*/
}

input[type='search'] {
	width: 100%;
	padding: 20px;
	font-family: inherit;
	padding: 8px 20px;
	color: inherit;
}

aside {
	font-size: 1rem;
}

button {
	background: #f3f3f3;
	cursor: pointer;
	border-radius: 0;
	color: black;
}

button.has-icon {
	width: 60px;
	height: 60px;
}

h1,
nav > h2,
th, dt {
	font-weight: normal;
}

h2, h3, h4, h5, h6 {
	font-weight: bolder;
}

h1, h2 { font-size: 200%; }
h3, h4 { font-size: 150%; }
h5, h6 { font-size: 125%; }

article h3,
article h5,
article h6,
nav > h3 {
	text-transform: uppercase;
}

nav > h2 {
	font-size: 150%;
	padding: 20px 0;
}

nav > h3 {
	font-size: 100%;
}

article h3,
article h4,
article h5,
dt, th {
	color: #1f1e26;
	font-size: 100%;
}

table {
	padding-top: 10px;
	border-collapse: separate;
	width: 100%;
}

td, th {
	background: #f6f6f6;
	padding: 10px 20px;
}

td {
	vertical-align: top;
	word-break: normal;
}

tr:hover td,
tr:focus td,
tr:hover table th,
tr:focus table th {
	color: #1f1e26;
	background: #f3f3f3;
}

table table {
	margin-top: 20px;
	padding-top: 0;
	border-left: 2px solid rgba(0, 0, 0, .05);
}

table h6 {
	color: #1f1e26;
}

code,
table h6 {
	font-size: 100%;
}

article code,
h4.name,
article h2 {
	color: #1f1e26;
	font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco,
				Consolas, monospace;
}

code {
	font-family: inherit;
}

#page-wrapper {
	display: flex;
	width: 100%;
}

#main-wrapper {
	width: calc(100% - 320px);
	position: relative;
}

#content {
	min-height: 100vh;
	width: 100%;
}

#content > header {
	padding: 2.5% 5%;
}

.has-icon {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#page-header {
	position: sticky;
	top: 0;
	padding: 20px;
	width: 320px;
	height: 100vh;
	overflow-y: auto;
  	box-sizing: border-box;
}

#page-header {
	background-color: #f3f3f3;
}

#page-header,
#page-header a {
	color: #777987;
}

#page-header a b,
#page-header a:hover,
#page-header :focus,
#page-header li.is-active a,
#page-title a {
	color: black;
}

#page-title {
	padding: 20px 0;
	text-align: center;
}

#content-nav {
	background: inherit;
	padding-bottom: 20px;
}

#content-nav > header {
	background: inherit;
	position: sticky;
	top: -20px;
	padding: 15px 0;
	z-index: 1;
}

#content-nav > ul {
	list-style: none;
	white-space: nowrap;
	overflow: hidden;
}

#content-nav li {
	position: relative;
}

#page-footer {
	padding: 2.5% 5%;
	text-align: right;
	border-top: 1px solid #ededed;
}

article {
	padding: 5%;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

ol {
	list-style: decimal-leading-zero;
}

ul {
	list-style: disc;
}

dl {
	border-left: 2px solid rgba(0, 0, 0, .1);
}

ol, ul, dl {
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
}

article > h3 {
	position: -webkit-sticky;
	margin-top: 5%;
	position: sticky;
	top: 0;
	z-index: 1;
	background: #fbfbfb;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	margin-bottom: -1px;
}

.member {
	overflow: hidden;
}

.container-overview > .member {
	padding-top: 5%;
}

article > .member {
	padding-top: 10%;
	padding-bottom: 5%;
	border-top: 1px solid rgba(0, 0, 0, .1);
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.member > *:not(h5):not(h4):not(h3):not(.param-desc):not(:last-child) {
	margin-bottom: 70px;
}

.member > *:last-child {
	margin-bottom: 0;
}

dd {
	margin-bottom: 20px;
}

dd + dd {
	margin-top: -20px;
}

table h6 {
	padding-top: 20px;
}

br {
	margin-bottom: 5%;
}

.prettyprint {
	white-space: pre-wrap;
	overflow: hidden;
	padding: 5%;
	box-sizing: border-box;
	font-size: 80%;
}

.description:not(td) {
	font-size: 125%;
}

.class-description,
.summary {
	font-size: 125%;
	color: #1f1e26;
}

.signature-attributes {
	font-size: 50%;
	color: #5a6374;
}

.type-signature {
	color: #5a6374;
	font-size: 60%;
	font-weight: lighter;
	position: relative;
}

h4.name {
	font-size: 200%;
	word-wrap: break-word;
}

.signature {
	font-weight: lighter;
	margin-left: 10px;
	font-size: 80%;
}

.disabled {
	text-decoration: line-through;
}

.variation {
	color: #5a6374;
}

.important {
	font-weight: bolder;
}

dt.tag-deprecated,
dt.tag-deprecated + dd {
	border-left: 2px solid red;
	margin-left: -22px;
	padding-left: 20px;
}

.prettyprint.linenums li.selected {
	background-color: rgba(0, 0, 0, .1);
}

.is-searching nav ul:not(.matches),
.is-searching nav li:not(.matches) {
	display: none;
}

.is-searching nav ul.matches {
	margin-top: 0;
	margin-bottom: 0;
}

.is-searching nav h3 {
	display: none;
}
