html {
	background-color: #06060c;
}

body, html,
.signature-attributes,
.type-signature,
.variation {
	color: #5d6177;
}

#page-header,
#page-header h3,
#page-header a,
#content-nav li:not(.is-active),
#page-header input::placeholder {
	color: #9fa0ad;
}

a {
	color: #1676aa;
}

#content-nav,
#content-nav > header {
	background: inherit;
}

dl {
	border-left: 2px solid rgba(0, 0, 0, .1);
}

dt.tag-deprecated,
dt.tag-deprecated + dd {
	border-left: 2px solid red;
}

button,
.doc > h3,
article,
.doc > .member,
#page-footer {
	border: 1px solid rgba(0, 0, 0, .030);
}

table table {
	border-left: 2px solid rgba(0, 0, 0, .05);
}

article,
#page-footer,
.doc > .member {
	border-width: 1px 0 0 0;
}

.doc > h3 {
	border-width: 0 0 1px 0;
}

h4.name > a,
.doc h2 > a,
input[type='search'],
#page-title,
#page-title a,
#page-header li.is-active a,
#content-nav li::before {
	color: inherit;
}

button.is-active,
#page-header {
	background: #242428;
	color: #d8d8d8;
}

#page-header :focus,
#page-header a:hover,
#page-header a b {
	color: white;
}

#content-nav li:not(.is-active) abbr,
input[type='search'] {
	background: rgba(127, 127, 137, .2);
}

#content-nav li:not(.is-active) abbr:hover,
input[type='search']:hover,
input[type='search']:focus {
	background: rgba(127, 127, 137, .3);
	color: white;
}

#page-header li.is-active abbr {
	background: white;
	color: black;
}