@import 'common.css';

table,
.code-caption {
	background-color: #f6f6f6;
}

body,
button,
#content > header,
.prettyprint.linenums li.selected {
	background-color: #fbfbfb;
}

button,
small a,
code,
.class-description,
.summary,
h1, h2, h3, h4, h5, h6,
dt, thead,
kbd,
tr:hover *, tr:focus *,
.example:hover .code-caption {
	color: #1f1e26;
}

kbd, samp,
#readme :not(pre) > code,
tbody tr:hover *, tbody tr:focus *,
.example:hover > * {
	background: #f3f3f3;
}
