<?js
    var data = obj;
    var self = this;

    data.forEach(function(example) {
        if (example.caption) { ?>
    <figure>
        <figcaption class="code-caption"><?js= example.caption ?></figcaption>
    <?js } ?>
        <pre class="prettyprint"><code><?js= self.htmlsafe(example.code) ?></code></pre>
    </figure>
<?js
    });
?>
