<?js
    var data = obj;
    var self = this;

    data.forEach(function(example, i) {
    var isCaptionUseless = !example.caption && data.length === 1;
    ?>
    <div class='example-wrapper'>
    <figure class='example'>
        <figcaption class="code-caption"<?js= isCaptionUseless ? ' hidden' : '' ?>><?js= '<b>Example ' + (i + 1) + (example.caption ? ':</b> ' + example.caption : '.</b>') ?></figcaption>
        <pre class="prettyprint"><code><?js= self.htmlsafe(example.code) ?></code></pre>
    </figure>
    </div>
<?js
    });
?>