<?js
var config = env.conf;
var templatesConfig = config.templates;
var customTemplateConfig = templatesConfig.custom;

var themes = customTemplateConfig.themes;
var prettifyTheme = themes.prettify;

var siteName = customTemplateConfig.siteName;

var tags = customTemplateConfig.tags;
var headTags = tags.head;
var headerTags = tags.header;
var bodyTags = tags.body;
var footerTags = tags.footer;

var currentMember = /\:(.+)/.test(title) ? RegExp.$1 : RegExp.$0;

/** @return {string} */
var printTags = function (tags) {
	if (!Array.isArray(tags)) {
		tags = [tags];
	}

	return tags.join('\n\t');
};

?>
<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'/>
	<title><?js= title + (siteName ? ' - ' + siteName : '') ?></title>
	<link type='text/css' rel='stylesheet' href='css/main.css'/>
	<?js= printTags(headTags) ?>
</head>
<body data-gs='{"openPageHeader": "is-page-header-open", "searching": "is-searching"}'>
	<div id='page-wrapper'>
		<header id='page-header' data-gs-target='openPageHeader'>
			<?js if (!headerTags.length) { ?>
			<h1 id='page-title'>
				<a href='/'><?js= siteName ?></a>
			</h1>
			<?js } else { ?>
			<?js= printTags(headerTags) ?>
			<?js } ?>
			<nav id='content-nav'>
				<header>
					<div id='search'>
						<div class='textfield-wrapper'>
							<input type='search' name='q' placeholder='Search...' data-internal-search='#content-nav li a' data-gs-search='searching'/>
						</div>
					</div>
				</header>
				<?js= this.nav ?>
			</nav>
		</header>
		<div id='main-wrapper'>
			<button id='page-header-opener' title='Toggle left bar' class='has-icon' data-css-icon='menu' type='button' data-gs-toggle='openPageHeader'>Toggle left bar</button>
			<main id='content'>
				<header>
					<h1 id='content-title'><?js= title ?></h1>
				</header>
				<?js= content ?>
			</main>
			<footer id='page-footer'>
				<small>Documentation generated by <a href='https://github.com/jsdoc/jsdoc' rel='noreferrer noopener' target='_blank'>JSDoc <?js= env.version.number ?></a><?js if(config.templates && config.templates.default && config.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>.</small>
				<?js= printTags(footerTags) ?>
			</footer>
		</div>
	</div>
	<link href='css/views/large.css' rel='stylesheet' media='all and (min-width: 1360px)'/>
	<link href='css/views/medium.css' rel='stylesheet' media='all and (max-width: 1360px)'/>
	<link href='css/views/small.css' rel='stylesheet' media='all and (max-width: 767px)'/>
	<script src='js/prettify.js' async></script>
	<script src='js/main.js' async></script>
	<?js if (prettifyTheme) { ?>
	<link rel='stylesheet' type='text/css' href='<?js= prettifyTheme ?>'/>
	<?js } ?>
	<?js= printTags(bodyTags) ?>
</body>
</html>
