#page-header {
	position: sticky;
	top: 0;
	padding: 20px;
	width: 320px;
	height: 100vh;
	overflow-y: auto;
  	box-sizing: border-box;
}

#page-header {
	background-color: #f3f3f3;
}

#page-header,
#page-header a {
	color: #777987;
}

#page-header a b,
#page-header a:hover,
#page-header :focus,
#page-header li.is-active a,
#page-title a {
	color: black;
}

#page-title {
	padding: 20px 0;
	text-align: center;
}

#content-nav {
	background: inherit;
	padding-bottom: 20px;
}

#content-nav > header {
	background: inherit;
	position: sticky;
	top: -20px;
	padding: 15px 0;
	z-index: 1;
}

#content-nav > ul {
	list-style: none;
	white-space: nowrap;
	overflow: hidden;
}

#content-nav li {
	position: relative;
}
