* {
	border: 0;
	margin: 0;
	padding: 0;
}

:focus,
a:active,
a:hover {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

[hidden] {
    display: none;
}

ol, ul {
	list-style: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    	-ms-text-size-adjust: 100%;
}

button::-moz-focus-inner {
	border: 0;
}
